p.title{
	line-height:0px;
	text-align:center;
	font-family:"黑体";
	font-size:45px;
}
a.dev_cpp{
	line-height:15px;
	text-align:center;
	font-family:"黑体";
	font-size:25px;
}
html,body{
	background-color:#E4E4E4;
}
div{
	width:80%;
	height:400px;
	margin:50px auto;
	background-color:#FFFFFF;
	border:1px solid;
}